/* src/app/components/admin-orders/admin-orders.component.css */
.admin-orders-container {
  padding: 20px;
}

.table-container {
  margin-top: 20px;
}

.mat-form-field {
  width: 100%;
}

.mat-elevation-z8 {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
