/* src/app/components/checkout/checkout.component.css */
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

.checkout-card,
.payment-card,
.contact-card {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}

.checkout-card-title,
.payment-card-title,
.contact-card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.checkout-card-content,
.payment-card-content,
.contact-card-content {
  margin-bottom: 20px;
}

.total-price {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.confirm-order-container {
  margin-top: 20px;
  text-align: center;
}

.mat-form-field {
  width: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }
  .checkout-card,
  .checkout-card *,
  .payment-card,
  .payment-card *,
  .contact-card,
  .contact-card * {
    visibility: visible;
  }
  .checkout-card,
  .payment-card,
  .contact-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: none;
    border: none;
  }
}
