<!-- src/app/components/admin-dashboard/admin-dashboard.component.html -->
<div class="admin-dashboard-container">
  <mat-card class="dashboard-card" routerLink="/admin-products">
    <mat-card-title>Manage Products</mat-card-title>
  </mat-card>
  <mat-card class="dashboard-card" routerLink="/admin-orders">
    <mat-card-title>Manage Orders</mat-card-title>
  </mat-card>
  <mat-card class="dashboard-card" routerLink="/admin-users">
    <mat-card-title>Manage Users</mat-card-title>
  </mat-card>
</div>
